.card {
  width: 264px;
  height: 454px;
}

.imageBox {
  position: relative;
  margin-bottom: 12px;
}

.status {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 6px;
  background: #FFFFFF;
  border-radius: 2px;
  z-index: 3;
}

.image {
  display: block;
  width: 264px;
  height: 353px;
}

.overview {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 140px;
}

.star {
  width: 14px;
}

.numOfReviews, .location {
  color: #918E9B;
}

.numOfReviews {
  position: relative;
}

.numOfReviews::after {
  content: '';
  position: absolute;
  top: 45%;
  margin-left: 2px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #918E9B;
}

.title {
  margin: 12px 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 110%;
  color: #222222;
}

.price {
  margin: 0;
  font-size: 18px;
  line-height: 110%;
  color: #222222;
}